Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, unittests, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - scl enable devtoolset-8 "bash ci_scripts/build_deps.bash"
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 "bash ci_scripts/build.bash"
  artifacts:
    paths:
    - build_cdcm/
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull
  tags:
  - cdcm
  dependencies:
  - build_deps

unittests:
  stage: unittests
  allow_failure: true
  script:
  - scl enable devtoolset-8 'bash ci_scripts/unittests.bash'
  artifacts:
    when: always
    paths:
    - build_cdcm/src/cdcm_testing/*.xml
    - build_cdcm/src/cdcm_testing/*.html
    - build_cdcm/src/cdcm_testing/log/cdcm_client.log
    reports:
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - scl enable devtoolset-8 "make html_coverage"
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - scl enable devtoolset-8 "bash ci_scripts/build_rpm.bash"
  artifacts:
    paths:
    - build/RPMS/x86_64/
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull
  tags:
  - cdcm
  dependencies:
  - build

smoke test false negative
  ci_scripts/smoke_test.bash
Due: none

removed allow failure
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

temporary remove coverage
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

removed test shmem
  ci_scripts/unittests.bash
Due: unittests

fixed tests xml
  src/frontend/actions/CMakeLists.txt
Due: build, unittests, html_coverage, build_rpms

remove shm locks
  src/supervisor/supervisor.cpp
Due: build, unittests, html_coverage, build_rpms

removed sudo
  ci_scripts/unittests.bash
Due: unittests

added shm remove to service file
  build/cdcm.service
Due: build_rpms

run bash with -x
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

removeed `ExecStartPre = -/usr/bin/rm /dev/shm/sessions_lock`
  build/cdcm.service
Due: build_rpms

removed rm -fr /dev/shm/sessions_lock -x to -v in bash
  .gitlab-ci.yml
  build/cdcm.spec
Due: build_deps, build, unittests, html_coverage, build_rpms

removed unnecessary includes
  src/backend/cdcm_worker_process.cpp
  src/backend/services/samba_based/registry/actions/enumerate_key.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/smb/actions/file_exists.cpp
  src/backend/services/samba_based/srvsvc/actions/enumerate_shares.cpp
  src/backend/utils/action_manager.cpp
  src/backend/utils/bounded_chunk.hpp
  src/backend/utils/file_mapper.cpp
Due: build, unittests, html_coverage, build_rpms

sessions_lock redundant remove
  src/supervisor/supervisor.cpp
Due: build, unittests, html_coverage, build_rpms

removed unnecessary includes
  src/backend/cdcm_worker_process.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/registry/actions/enumerate_key.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/registry/actions/get_registry_permissions.cpp
  src/backend/services/samba_based/registry/actions/key_exists.cpp
  src/backend/services/samba_based/registry/actions/query_value.cpp
  src/backend/services/samba_based/registry/actions/value_exists.cpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/smb/actions/file_exists.cpp
  src/backend/services/samba_based/smb/actions/get_file_info.cpp
  src/backend/services/samba_based/smb/actions/list_dir.cpp
  src/backend/services/samba_based/smb/actions/read_file.cpp
  src/backend/services/samba_based/srvsvc/actions/enumerate_shares.cpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.cpp
  src/backend/utils/action_manager.cpp
  src/backend/utils/action_manager.hpp
  src/backend/utils/file_mapper.cpp
  src/backend/utils/file_reader.cpp
  src/backend/utils/pe_context.cpp
  src/common/Logger/Logger.cpp
  src/common/Logger/conf/LoggerConfiguration.cpp
  src/common/configuration.hpp
  src/common/session.cpp
  src/common/sessions_cache/shared_mem_sessions_cache.cpp
  src/common/zmq/zmq_helpers.cpp
  src/frontend/message_broker.cpp
  src/supervisor/supervisor.cpp
  src/supervisor/workers_monitor.cpp
Due: build, unittests, html_coverage, build_rpms

run bash with -x
  .gitlab-ci.yml
  ci_scripts/build.bash
  ci_scripts/build_deps.bash
  ci_scripts/build_rpm.bash
  ci_scripts/common.bash
  ci_scripts/deploy.bash
  ci_scripts/functional_tests.bash
  ci_scripts/html_coverage.bash
  ci_scripts/service_update.bash
  ci_scripts/smoke_test.bash
  ci_scripts/test_install.bash
  ci_scripts/unittests.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

array fix
  ci_scripts/smoke_test.bash
Due: none

removed -e
  ci_scripts/smoke_test.bash
Due: none

added sudo for tee command hopefully will resolve write error
  ci_scripts/smoke_test.bash
Due: none

added sudo for tee command hopefully will resolve write error
  .gitlab-ci.yml
  ci_scripts/common.bash
  ci_scripts/smoke_test.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

added sudo for tee command hopefully will resolve write error
  CHANGELOG
  ci_scripts/common.bash
Due: none

removed set -x added run all pipeline on push
  .gitlab-ci.yml
  ci_scripts/build.bash
  ci_scripts/build_deps.bash
  ci_scripts/build_rpm.bash
  ci_scripts/common.bash
  ci_scripts/deploy.bash
  ci_scripts/functional_tests.bash
  ci_scripts/html_coverage.bash
  ci_scripts/service_update.bash
  ci_scripts/smoke_test.bash
  ci_scripts/test_install.bash
  ci_scripts/unittests.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

Bump version: 1.0.12.1_SNAPSHOT → 1.0.12.1_RELEASE
  build/bumpversion.cfg
Due: none

bumped version to 1.0.12.1_RELEASE
  build/version.txt
Due: build_deps, build, unittests, build_rpms

run all stages on trigger
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, ci_scripts/build_deps.bash, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, tars/**/*, ci_scripts/build.bash, .gitlab-ci.yml
  unittests: any of: build/version.txt, src/**/*, ci_scripts/unittests.bash, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, build/50-cdcm.preset, ci_scripts/build_rpm.bash, .gitlab-ci.yml
