Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py

service update stage only on release
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 1.0.1.1_SNAPSHOT → 1.0.1.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

replace testRunner log location
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-76 - Added max_files,min_free_space,and rotation_size to sink conf. - Added log collector.
  Logger/module.xml
  src/common/Logger/Logger.cpp
  src/common/Logger/conf/LoggerConfiguration.cpp
  src/common/Logger/conf/LoggerConfiguration.h
Due: build, test, html_coverage, build_rpms

bump version to release 1.0.1
  CHANGELOG
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

- only master will be deployed to release - service update distinguishes between install/reinstall
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

set log severity to info
  Logger/module.xml
Due: none

changelog update
  CHANGELOG
Due: none

pipeline flow
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Add some comments to log configuration Add info log messages Fix multiplication
  Logger/module.xml
  src/backend/message_worker.cpp
  src/common/Logger/Logger.cpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms

Add some comments to log configuration Add info log messages Fix multiplication
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Add info log messages
  src/backend/cdcm_worker_process.cpp
  src/backend/utils/action_manager.cpp
  src/common/dispatcher.hpp
Due: build, test, html_coverage, build_rpms

added echo to mvn command
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added echo to rpmbuild command
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 1.0.2.1_SNAPSHOT → 1.0.2.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

README.md update
  README.md
Due: none

Fix multiplication in rotation size
  src/common/Logger/Logger.cpp
Due: build, test, html_coverage, build_rpms

Undo Fix multiplication
  src/common/Logger/Logger.cpp
Due: build, test, html_coverage, build_rpms

CDCM 77
  src/backend/services/smb/actions/read_file.cpp
Due: build, test, html_coverage, build_rpms
