Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py

Bump version: 0.0.3.1_SNAPSHOT → 0.0.4.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 0.0.4.1_RELEASE → 0.0.4.1_RELEASE
  build/bumpversion.cfg
Due: none

0.0.4.1_RELEASE CHANGELOG
  CHANGELOG
  build/version.txt
Due: build_deps, build, test, build_rpms

Reconnect attempt on pipe busy
  build/bumpversion.cfg
  build/version.txt
  cdcm_settings.json
  src/CMakeLists.txt
  src/backend/message_worker.cpp
  src/backend/message_worker.hpp
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/enumerate_key.hpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/key_exists.hpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/query_value.hpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/registry/actions/value_exists.hpp
  src/backend/services/registry/registry.json
  src/backend/services/registry/registry_client.cpp
  src/backend/services/registry/registry_service_configuration.hpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/file_exists.hpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/get_file_info.hpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/list_dir.hpp
  src/backend/services/smb/actions/read_file.cpp
  src/backend/services/smb/actions/read_file.hpp
  src/backend/utils/postponed_actions.hpp
  src/common/action.hpp
  src/common/protocol/msg_types.hpp
  src/common/singleton_runner/settings.hpp
  src/frontend/actions/close_session.cpp
  src/frontend/actions/close_session.hpp
  src/frontend/actions/start_session.cpp
  src/frontend/actions/start_session.hpp
  src/frontend/message_broker.cpp
  src/tests/CMakeLists.txt
Due: build_deps, build, test, html_coverage, build_rpms

test install stage will find int file cdcm
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-66 - Fixed trimmed Extraneous data from FileVersion
  src/CMakeLists.txt
  src/backend/services/smb/actions/get_file_info.cpp
Due: build, test, html_coverage, build_rpms

changed back standard to 17 from 20
  src/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

Bump version: 0.0.4.1_SNAPSHOT → 0.0.5.1_SNAPSHOT
  CHANGELOG
  build/version.txt
Due: build_deps, build, test, build_rpms

test install stage change
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.5.1_SNAPSHOT → 0.0.5.1_RELEASE
  build/bumpversion.cfg
Due: none
