Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py

Issue #1- changed systemd service to cdcm cleaned spec
  build/50-cdcm.preset
Due: none

Issue #1- changed systemd service to cdcm cleaned spec
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.2.1_SNAPSHOT → 0.0.2.1_RELEASE
  build/bumpversion.cfg
Due: none

Bump version: 0.0.2.1_RELEASE → 0.0.3.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Issue #1- changed systemd service to cdcm cleaned spec
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

added sudo to make deps
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added sudo to make deps
  .gitlab-ci.yml
  src/CMakeLists.txt
  src/tests/CMakeLists.txt
Due: build_deps, build, test, html_coverage, build_rpms

removed tests from build
  src/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

removed sudo to make deps
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.2.1_RELEASE → 0.0.2.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms
