Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, tars/**/*, .gitlab-ci.yml
  unittests: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, build/50-cdcm.preset, .gitlab-ci.yml
  functional_tests: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  smoke_test: any of: build/version.txt, src/**/*, .gitlab-ci.yml

added required actions get_registry_permissions get_share_permissions get_ntfs_permissions
  .gitlab-ci.yml
  CHANGELOG
  build/cdcm.spec
  src/backend/cdcm_worker_process.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/key_exists.cpp
  src/backend/services/samba_based/registry/actions/query_value.cpp
  src/backend/services/samba_based/registry/actions/value_exists.cpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client.hpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/smb/actions/file_exists.cpp
  src/backend/services/samba_based/smb/actions/get_file_info.cpp
  src/backend/services/samba_based/smb/actions/list_dir.cpp
  src/backend/services/samba_based/smb/actions/read_file.cpp
  src/backend/services/samba_based/utils/CMakeLists.txt
  src/backend/services/samba_based/utils/registry_utils.cpp
  src/backend/services/samba_based/utils/registry_utils.hpp
  src/common/protocol/msg_types.hpp
  src/common/singleton_runner/authenticated_scan_server.hpp
  src/frontend/cdcm_broker.cpp
  src/supervisor/supervisor.cpp
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

initial commit
  src/backend/actions/CMakeLists.txt
  src/backend/services/impacket_based/registry/actions/CMakeLists.txt
  src/backend/services/impacket_based/registry/actions/wmi_authenticate.cpp
  src/backend/services/impacket_based/registry/actions/wmi_authenticate.hpp
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/wql/wmi_wql_client.cpp
  src/backend/services/samba_based/registry/actions/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/query_value.cpp
  src/backend/services/samba_based/registry/actions/smb_authenticate.cpp
  src/backend/services/samba_based/registry/actions/smb_authenticate.hpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/rpc/rpc_client.cpp
  src/backend/services/samba_based/smb/smb_client.cpp
  src/common/credentials.cpp
  src/common/credentials.hpp
  src/common/session.cpp
  src/common/session.hpp
  src/common/sessions_cache/shared_mem_converters.cpp
  src/common/sessions_cache/shared_mem_session.cpp
  src/common/sessions_cache/shared_mem_session.hpp
  src/common/sessions_cache/shared_mem_sessions_cache.cpp
  src/frontend/CMakeLists.txt
  src/frontend/actions/start_session.hpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

make sure to use default namespace when not provided
  .gitmodules
Due: none

rollback query value on non existing value to value is enpty
  src/backend/services/samba_based/registry/actions/query_value.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Bump version: 1.0.8.1_SNAPSHOT → 1.0.8.1_RELEASE
  build/bumpversion.cfg
Due: none

fix build rpm
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

rollback query value on non existing value to value is enpty
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

fix build rpm
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

bumped to snapshot
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

smoke fix *** query_value and perhaps other actions should be reviewed and standard the error codes
  src/backend/services/samba_based/registry/actions/query_value.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Bump version: 1.0.9.1_SNAPSHOT → 1.0.9.1_RELEASE
  build/bumpversion.cfg
Due: none

smoke fix bumped to release
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

smoke fix *** query_value and perhaps other actions should be reviewed and standard the error codes
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

several minor fixes
  src/backend/message_worker.cpp
  src/backend/services/impacket_based/registry/actions/wmi_authenticate.cpp
  src/backend/services/samba_based/registry/actions/smb_authenticate.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

added start_session.cpp draft
  src/backend/actions/start_session.cpp
  src/backend/actions/start_session.hpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Bump version: 1.0.9.1_RELEASE → 1.0.10.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test
