Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

added some respo_codes
  src/backend/message_worker.cpp
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/common/protocol/msg_types.hpp
  src/frontend/actions/close_session.cpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms

added get_file , get_folder removed generic
  src/backend/services/samba_based/lsa/CMakeLists.txt
  src/backend/services/samba_based/lsa/actions/CMakeLists.txt
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.hpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.hpp
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/lsa/lsa_client.hpp
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/registry/registry_client.hpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/registry/registry_client2.hpp
  src/backend/services/samba_based/rpc/rpc_client.cpp
  src/backend/services/samba_based/rpc/rpc_client.hpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.cpp
Due: build, test, html_coverage, build_rpms

commented out rc2t
  src/backend/services/samba_based/registry/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

commented out lct
  src/backend/services/samba_based/lsa/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

removed some compiler warnings
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/lsa/lsa_client.hpp
  src/backend/services/samba_based/smb/actions/list_dir.cpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.cpp
  src/backend/services/samba_based/utils/security_descriptor_utils.cpp
  src/backend/utils/action_manager.cpp
  src/backend/utils/postponed_actions.hpp
  src/supervisor/supervisor.hpp
  src/supervisor/workers_monitor.cpp
Due: build, test, html_coverage, build_rpms

minor changes
  src/backend/services/samba_based/utils/security_descriptor_utils.cpp
Due: build, test, html_coverage, build_rpms

added some special member duncs to new classes
  src/backend/services/samba_based/lsa/lsa_client.hpp
  src/backend/services/samba_based/registry/registry_client2.hpp
  src/backend/services/samba_based/rpc/rpc_client.cpp
  src/backend/services/samba_based/rpc/rpc_client.hpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.hpp
Due: build, test, html_coverage, build_rpms

CDCM-93 - added action 'enumerate_registry_values'
  src/backend/services/samba_based/registry/actions/enumerate_key.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client.hpp
  src/backend/services/samba_based/registry/registry_value.hpp
Due: build, test, html_coverage, build_rpms

added libs to RPM
  build/cdcm.spec
Due: build_rpms

CDCM-101 CDCM-103
  .gitlab-ci.yml
  .gitmodules
  src/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests/clients/CMakeLists.txt
  src/tests/clients/registery_client_tester.cpp
  src/tests/common/CMakeLists.txt
  src/tests/common/session_cache/CMakeLists.txt
  src/tests/common/session_cache/session_cache_test.cpp
  src/tests/common/session_cache/shared_mem_elements_test.cpp
  src/tests/common/session_cache/shmem_fixtures.hpp
  src/tests/components/CMakeLists.txt
  src/tests/components/boost_test_wrapper/CMakeLists.txt
  src/tests/components/boost_test_wrapper/wrapper.cpp
  src/tests/components/boost_test_wrapper/wrapper.hpp
  src/tests/frontend/worker_container_test.cpp
  src/tests/mdcliapi2.hpp
  src/tests/mdclient2.cpp
  src/tests/shared_mem_tests_cleaner.cpp
  src/tests/shared_mem_tests_inserter.cpp
  src/tests/shared_mem_tests_user.cpp
  src/tests/test_runner.cpp
  src/tests/tests_externalData_config.cmake
Due: build_deps, build, test, html_coverage, build_rpms

functional tests log location
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Develop
  .gitlab-ci.yml
  .gitmodules
  src/CMakeLists.txt
  src/tests/CMakeLists.txt
  src/tests/clients/CMakeLists.txt
  src/tests/clients/registery_client_tester.cpp
  src/tests/common/CMakeLists.txt
  src/tests/common/session_cache/CMakeLists.txt
  src/tests/common/session_cache/session_cache_test.cpp
  src/tests/common/session_cache/shared_mem_elements_test.cpp
  src/tests/common/session_cache/shmem_fixtures.hpp
  src/tests/components/CMakeLists.txt
  src/tests/components/boost_test_wrapper/CMakeLists.txt
  src/tests/components/boost_test_wrapper/wrapper.cpp
  src/tests/components/boost_test_wrapper/wrapper.hpp
  src/tests/frontend/worker_container_test.cpp
  src/tests/mdcliapi2.hpp
  src/tests/mdclient2.cpp
  src/tests/shared_mem_tests_cleaner.cpp
  src/tests/shared_mem_tests_inserter.cpp
  src/tests/shared_mem_tests_user.cpp
  src/tests/test_runner.cpp
  src/tests/tests_externalData_config.cmake
Due: build_deps, build, test, html_coverage, build_rpms

functional tests client log upload
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

adding error codes - in the middle , not compile
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/common/protocol/msg_types.hpp
  src/common/protocol/protocol.hpp
  src/frontend/actions/close_session.cpp
  src/frontend/actions/start_session.cpp
Due: build, test, html_coverage, build_rpms

changed reference branch of cdcm_testing
  .gitmodules
Due: none

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
