Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, unittests, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - scl enable devtoolset-8 "bash ci_scripts/build_deps.bash"
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 "bash ci_scripts/build.bash"
  artifacts:
    paths:
    - build_cdcm/
    expire_in: 10 days
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull
  tags:
  - cdcm
  dependencies:
  - build_deps

unittests:
  stage: unittests
  script:
  - scl enable devtoolset-8 'bash   ci_scripts/unittests.bash'
  artifacts:
    when: always
    paths:
    - build_cdcm/src/cdcm_testing/*.xml
    - build_cdcm/src/cdcm_testing/*.html
    - build_cdcm/src/cdcm_testing/log/cdcm_client.log
    reports:
      junit: build_cdcm/src/tests/*.xml
  ...

html_coverage:
  stage: coverage
  script:
  - scl enable devtoolset-8 "bash   ci_scripts/html_coverage.bash"
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - scl enable devtoolset-8 "bash   ci_scripts/build_rpm.bash"
  artifacts:
    paths:
    - build/RPMS/x86_64/
    expire_in: 10 days
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull
  tags:
  - cdcm
  dependencies:
  - build

run all stages on trigger
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

added missing '-'
  ci_scripts/deploy.bash
Due: none

undo addition of missing '-' added export to empty POM_SNAPSHOT
  .gitlab-ci.yml
  ci_scripts/deploy.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

fixed RPM filename
  ci_scripts/deploy.bash
Due: none

fixed RPM filename
  build/cdcm.spec
  ci_scripts/deploy.bash
Due: build_rpms

Bump version: 1.0.12.1_RELEASE → 1.0.13.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms

added flow log for debugging purposes
  src/backend/services/samba_based/registry/registry_client.cpp
Due: build, unittests, html_coverage, build_rpms

CDCM-119 added internal handling of REG_EXPAND_SZ and REG_SZ
  src/backend/services/samba_based/registry/registry_client.cpp
Due: build, unittests, html_coverage, build_rpms

CDCM-119 - added to CHANGELOG
  CHANGELOG
Due: none

CDCM-119 added internal handling of REG_EXPAND_SZ and REG_SZ
  CHANGELOG
  build/bumpversion.cfg
  build/version.txt
  src/backend/services/samba_based/registry/registry_client.cpp
Due: build_deps, build, unittests, html_coverage, build_rpms

update service on deploy release
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

Bump version: 1.0.13.1_SNAPSHOT → 1.0.13.1_RELEASE
  build/bumpversion.cfg
Due: none

bumped version to 1.0.13.1_RELEASE
  build/version.txt
Due: build_deps, build, unittests, build_rpms

fixed service_update.bash to get latest release
  ci_scripts/service_update.bash
Due: none

added update_service trigger
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

service_update will can run independently
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

adapted tests ton 140.106 asset fixed compile error
  .gitlab-ci.yml
  ci_scripts/functional_tests.bash
  ci_scripts/service_update.bash
  src/backend/services/samba_based/registry/registry_client.cpp
Due: build_deps, build, unittests, html_coverage, build_rpms

Added impacket to README.md
  README.md
Due: none

Bump version: 1.0.13.1_RELEASE → 1.1.0.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, ci_scripts/build_deps.bash, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, tars/**/*, ci_scripts/build.bash, ci_scripts/build_deps.bash, .gitlab-ci.yml
  unittests: any of: build/version.txt, src/**/*, ci_scripts/unittests.bash, ci_scripts/common.bash, .gitlab-ci.yml
  html_coverage: any of: ci_scripts/html_coverage.bash, src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, build/50-cdcm.preset, ci_scripts/build_rpm.bash, .gitlab-ci.yml
