Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, unittests, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, ci_scripts/build_deps.bash, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, tars/**/*, ci_scripts/build.bash, ci_scripts/build_deps.bash, .gitlab-ci.yml
  unittests: any of: build/version.txt, src/**/*, ci_scripts/unittests.bash, ci_scripts/common.bash, .gitlab-ci.yml
  html_coverage: any of: ci_scripts/html_coverage.bash, src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, build/50-cdcm.preset, ci_scripts/build_rpm.bash, .gitlab-ci.yml

sessions_lock remove
  src/supervisor/supervisor.cpp
Due: build, unittests, html_coverage, build_rpms

until integration with carrier, added allow_failure to smoke test
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

Bump version: 1.0.13.1_RELEASE → 1.0.14.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms

CDCM-121 changed log configuration to: file size rotation at 8MB , 8 file count, and min free space at 200MB.
  CHANGELOG
  Logger/module.xml
Due: none

Bump version: 1.0.14.1_SNAPSHOT → 1.0.14.1_RELEASE
  build/bumpversion.cfg
Due: none

bumped version to 1.0.14.1_RELEASE
  build/version.txt
Due: build_deps, build, unittests, build_rpms

CDCM-122 changes
  src/backend/services/samba_based/smb/actions/get_file_info.cpp
  src/common/protocol/msg_types.hpp
Due: build, unittests, html_coverage, build_rpms

CRFW-1743 - Making Dockerfile support all job types.
  build/Dockerfile
  ci_scripts/unittests.bash
Due: unittests

CRFW-1743 - Still trying to get CI/CD jobs working.
  build/Dockerfile
  build/scanner-dna-centos7-production.repo
  build/scanner-signing-key-production.asc
  ci_scripts/common.bash
  ci_scripts/functional_tests.bash
  ci_scripts/smoke_test.bash
  ci_scripts/unittests.bash
Due: unittests

CRFW-1743 - Fixing building the RPM.
  build/Dockerfile
  ci_scripts/build_rpm.bash
Due: build_rpms

CRFW-1743 - Fixing building the RPM.
  ci_scripts/build_rpm.bash
Due: build_rpms

CRFW-1743 - Fixing building the RPM.
  build/cdcm.spec
Due: build_rpms

CRFW-1743 - Fixing on_rpm_tests
  .gitlab-ci.yml
  ci_scripts/deploy.bash
  ci_scripts/functional_tests.bash
  ci_scripts/smoke_test.bash
  ci_scripts/test_install.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Fixing functional_tests.
  ci_scripts/functional_tests.bash
Due: none

CRFW-1743 - Fixing smoke_test.
  ci_scripts/smoke_test.bash
Due: none

CRFW-1743 - Trying to fix a permission issue.
  build/Dockerfile
  build/Makefile
  build/conf.mk
  build/repos.mk
Due: build_deps

CRFW-1743 - Running some CI as sudo.
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Debugging pipelines.
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Debugging pipelines.
  .gitlab-ci.yml
  build/Dockerfile
  build/conf.mk
  build/repos.mk
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Debugging pipelines.
  .gitlab-ci.yml
  build/Dockerfile
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Debugging pipelines.
  .gitlab-ci.yml
  ci_scripts/build_rpm.bash
  ci_scripts/smoke_test.bash
  ci_scripts/test_install.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Disabled functional tests as it is not feasible to restore them in a reasonable amount of time. Fixing smoke test.
  .gitlab-ci.yml
  ci_scripts/build_rpm.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Fixing pipelines.
  .gitlab-ci.yml
  build/cdcm.spec
  ci_scripts/build_rpm.bash
Due: build_deps, build, unittests, html_coverage, build_rpms

CRFW-1743 - Fixing build_rpm.
  build/cdcm.spec
  ci_scripts/build_rpm.bash
Due: build_rpms

CRFW-1743 - Fixing build_rpm.
  build/cdcm.spec
Due: build_rpms

CRFW-1743 - Fixing build_rpm.
  build/cdcm.spec
  ci_scripts/build_rpm.bash
  ci_scripts/functional_tests.bash
  ci_scripts/smoke_test.bash
  ci_scripts/test_install.bash
Due: build_rpms

CRFW-1743 - Fixing deploy CI/CD.
  ci_scripts/deploy.bash
Due: none

CRFW-1743 - Fixing build_rpm CI/CD.
  build/cdcm.spec
Due: build_rpms

CRFW-1743 - Added placeholder support for Nexus credentials.
  build/.nexus.conf
  build/maven-settings.xml
  ci_scripts/deploy.bash
Due: none
