Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - export VERSION=$(cat version.txt )
  - export SNAPSHOT=$(cat version.txt | cut -d'_' -f 1 | cut -d'.' -f 4)
  - if [ "$CI_COMMIT_BRANCH" = "master" ]; then  export BRANCH=''; else export BRANCH=_${CI_COMMIT_BRANCH//\//_}  ;fi
  ...

versioning fixes
  .gitlab-ci.yml
  build/bumpversion.cfg
Due: build_deps, build, test, html_coverage, build_rpms

versioning fixes
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Issue #1- changed systemd service to cdcm
  .gitlab-ci.yml
  build/cdcm.spec
Due: build_deps, build, test, html_coverage, build_rpms

Issue #1- changed systemd service to cdcm
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Changed pipeline git clone path
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Issue #1- changed systemd service to cdcm cleaned spec
  build/cdcm.service
  build/cdcm.spec
Due: build_rpms

Issue #1- changed systemd service to cdcm cleaned spec
  build/50-cdcm.preset
Due: none

Path conditions:
  build_deps: any of: build/Makefile, tars/*, .gitlab-ci.yml
  build: any of: src/**/*, .gitlab-ci.yml
  test: any of: src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
