Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms, test_install

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - export VERSION=$(cat version.txt | cut -d'-' -f 1 )
  - export RELEASE=$(cat version.txt | cut -d'-' -f 2 )
  - rpmbuild  --define "pkg_version $VERSION"  --define "release $RELEASE" -bb cdcm.spec
  artifacts:
    paths:
    - build/RPMS/x86_64/
  cache:
  ...

test_install:
  stage: test_install
  tags:
  - cdcm_install
  script:
  - cd build
  - sudo yum localinstall -y RPMS/x86_64/*.rpm
  - sleep 5
  - sudo systemctl start tw-cdcm
  - sleep 5
  - sudo systemctl status tw-cdcm
  - sleep 5
  - sudo systemctl stop tw-cdcm
  - sleep 5
  - sudo yum -y erase tw-cdcm
  dependencies:
  - build_rpms
  ...

versioning and deployment fix
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

added creation of preset dir
  build/cdcm.spec
Due: build_rpms, test_install

do test install on merge request
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

merge reqs to master should install test
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

removed arch from nexus rpm filename
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

Now reads unlimited size of directory
  src/backend/services/smb/smb_client.cpp
Due: build, test, html_coverage, build_rpms, test_install

CDCM-63 - hide passwords in cdcm log
  src/common/Logger/Logger.cpp
  src/common/Logger/include/Logger.h
  src/common/singleton_runner/log_macros.hpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms, test_install

added const static
  src/common/Logger/Logger.cpp
Due: build, test, html_coverage, build_rpms, test_install

added: count of the total run/passed/failed items (usable when running the testRunner in loop using 'mdclient_run_loop.rb')
  src/tests/functional_tests/testRunner.rb
Due: build, test, html_coverage, build_rpms, test_install

Now service starts on install
  build/cdcm.spec
Due: build_rpms, test_install

Path conditions:
  build_deps: any of: build/Makefile, tars/*, .gitlab-ci.yml
  build: any of: src/**/*, .gitlab-ci.yml
  test: any of: src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
  test_install: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml
