Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py

pipeline condition
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.6.1_SNAPSHOT → 0.0.6.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

test branch mirror
  README.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

test branch mirror
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-71 - Fixed getting value of file version from VS_FIXEDFILEINFO as a default
  src/backend/utils/pe_context.cpp
Due: build, test, html_coverage, build_rpms
