Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

.gitlab-ci.yml:

variables:
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_COMMIT_REF_SLUG

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - deps/

stages:
  - build_deps
  - build
  - test
  - coverage
  - build_rpms
  - test_install
  - pages_deploy
  - deploy

before_script:
  - export VERSION=$(grep -m 1 'Version:' ./build/cdcm.spec | cut -d ' ' -f 5)
  - export REPORT_FNAME=results.$(date +%d-%m-%Y-%H_%M_%S).xml
  - echo $CI_PROJECT_DIR
  - export CMAKE_FLAGS='-DBUILD_DEV=OFF'
  - if [ -z $CI_COMMIT_TAG ]; then export CMAKE_FLAGS='-DBUILD_DEV=ON' ; fi;
  - echo $CMAKE_FLAGS

after_script:
  - echo "After script section"

build_deps:
  stage: build_deps
  script:
    - cd build
    - scl enable devtoolset-8 'make deps'
  rules:
    - changes:
        - build/Makefile
        - tars/*
        - .gitlab-ci.yml
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - deps/
    policy: pull-push
  tags:
    - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
    - scl enable devtoolset-8 bash
    - mkdir -p build_cdcm
    - cd build_cdcm
    - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
    - scl enable devtoolset-8 "make -j4"
    - rm -fr /opt/output/libs/*
    - rm -fr /opt/output/bin/*
    - scl enable devtoolset-8 "make install"
  rules:
    - changes:
        - src/**/*
        - .gitlab-ci.yml
  artifacts:
    paths:
      - build_cdcm/
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - deps/
    policy: pull
  tags:
    - cdcm

test:
  stage: test
  script:
    - cd build_cdcm/src/tests/
    - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  rules:
    - changes:
        - src/**/*
        - .gitlab-ci.yml
  artifacts:
    when: always
    paths:
      - build_cdcm/src/tests/*.xml
    reports:
      junit: build_cdcm/src/tests/*.xml
  tags:
    - cdcm

html_coverage:
  stage: coverage
  script:
    - cd build_cdcm
    - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
      - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
    - cdcm
  rules:
    - changes:
        - src/**/*
        - .gitlab-ci.yml


pages:
  stage: pages_deploy
  dependencies:
    - html_coverage
  script:
    - mkdir -p public
    - rm -rf public/*
    - cp -r build_cdcm/src/html_coverage/* public/
  artifacts:
    name: pages
    paths:
      - public/
    expire_in: 15 days
  rules:
    - exists:
        - build_cdcm/src/html_coverage/*
  tags:
    - cdcm

build_rpms:
  stage: build_rpms
  script:
    - cd build
    - rpmbuild -bb cdcm.spec
  rules:
    - changes:
        - cdcm_settings.json
        - src/**/*
        - build/cdcm.spec
        - build/tw-cdcm.service
        - .gitlab-ci.yml
  artifacts:
    paths:
      - build/RPMS/x86_64/
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - deps/
    policy: pull
  tags:
    - cdcm

test_install:
  stage: test_install
  tags:
    - cdcm_install
  script:
    - cd build
    - sudo yum localinstall -y RPMS/x86_64/*.rpm
    - sleep 5
    - sudo systemctl start tw-cdcm
    - sleep 5
    - sudo systemctl status tw-cdcm
    - sleep 5
    - sudo systemctl stop tw-cdcm
    - sleep 5
    - sudo yum -y erase tw-cdcm
  dependencies:
    - build_rpms
  allow_failure: true

deploy_release:
  stage: deploy
  script:
    - cd build
    - python nexus_deploy.py -a cdcm -v $VERSION -r release RPMS/x86_64/*.rpm
  only:
    - tags
  tags:
    - cdcm

deploy_snapshot:
  stage: deploy
  script:
    - cd build
    - python nexus_deploy.py -a cdcm -b $CI_COMMIT_BRANCH -v $VERSION RPMS/x86_64/*.rpm
  only:
    - branches
  tags:
    - cdcm

fixed flow of pipeline
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

fixed flow of pipeline
  .gitlab-ci.yml
  build/semver.sh
Due: build_deps, build, test, html_coverage, build_rpms

fixed flow of pipeline
  build/nexus_deploy.py
Due: none

fixed flow of pipeline
  build/bump_version.py
Due: none

Add CHANGELOG
  CHANGELOG
Due: none

test install for master branch
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Retry semver
  .gitlab-ci.yml
  build/bumpversion.cfg
  build/conf.mk
  build/semver.sh
Due: build_deps, build, test, html_coverage, build_rpms

added build deps include conf.mk
  build/Makefile
  build/conf.mk
Due: build_deps

added build deps include conf.mk
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

push tag if bump tag is on
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

fixed functional tests run
  src/tests/CMakeLists.txt
  src/tests/assets/pe_test.asset
  src/tests/file_version_test/CMakeLists.txt
  src/tests/file_version_test/file_version_extract_testold.cpp
  src/tests/runner.cpp
Due: build, test, html_coverage, build_rpms
