Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py

mirroring is done by gitlab
  .gitlab-ci.yml
  README.md
Due: build_deps, build, test, html_coverage, build_rpms

full tests added - not completed
  src/tests/functional_tests/exe_test
  src/tests/functional_tests/full.xml
Due: build, test, html_coverage, build_rpms

run supervisor prior to tests
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

run supervisor prior to tests
  src/tests/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

run supervisor prior to tests
  src/tests/components/boost_test_wrapper/wrapper.cpp
  src/tests/functional_tests/full.xml
  src/tests/functional_tests/functional_tests_runner_test.cpp
Due: build, test, html_coverage, build_rpms

run supervisor prior to tests
  src/tests/components/boost_test_wrapper/wrapper.cpp
Due: build, test, html_coverage, build_rpms

setup end teardown is done by testrunner
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

setup end teardown is done by testrunner
  .gitlab-ci.yml
  src/tests/components/boost_test_wrapper/wrapper.cpp
  src/tests/functional_tests/functional_tests_runner_test.cpp
Due: build_deps, build, test, html_coverage, build_rpms

setup end teardown is done by testrunner
  .gitlab-ci.yml
  src/tests/components/boost_test_wrapper/wrapper.cpp
Due: build_deps, build, test, html_coverage, build_rpms

added per branch $LD_LIBRARY_PATH
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

client log upload
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.6.1_SNAPSHOT → 0.0.6.1_RELEASE
  build/bumpversion.cfg
Due: none

Update version.txt
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 0.0.6.1_RELEASE → 0.0.7.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 0.0.7.1_SNAPSHOT → 1.0.0.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms
