Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms, test_install

Path conditions:
  build_deps: any of: build/Makefile, tars/*, .gitlab-ci.yml
  build: any of: src/**/*, .gitlab-ci.yml
  test: any of: src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
  test_install: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml

Bump version: 0.0.1-SNAPSHOT_1 → 0.0.1-SNAPSHOT_2
  build/bumpversion.cfg
  build/version.txt
Due: none

updated version scheme removed dist from rpm
  build/bumpversion.cfg
  build/cdcm.spec
  build/version.txt
Due: build_rpms, test_install

updated version scheme removed dist from rpm
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

No need filename var
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

removed printing of smbc debug info to console
  src/backend/message_worker.cpp
  src/backend/services/smb/smb_client.cpp
Due: build, test, html_coverage, build_rpms, test_install

cleaning
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
Due: build, test, html_coverage, build_rpms, test_install

fixed path to as before the double stringify merge
  cdcm_settings.json
Due: build_rpms, test_install

Bump version: 0.0.1.1-SNAPSHOT_1 → 0.0.1.1-SNAPSHOT_2
  build/bumpversion.cfg
  build/version.txt
Due: none

added measuring of time until response arrive
  src/tests/functional_tests/mdcliapi2.rb
Due: build, test, html_coverage, build_rpms, test_install

fixed verification methods
  src/tests/functional_tests/results_verification.rb
Due: build, test, html_coverage, build_rpms, test_install
