Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms, test_install

Path conditions:
  build_deps: any of: build/Makefile, tars/*, .gitlab-ci.yml
  build: any of: src/**/*, .gitlab-ci.yml
  test: any of: src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
  test_install: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml

fixed snake case for all keys
  src/backend/message_worker.cpp
  src/backend/services/smb/actions/get_file_info.cpp
Due: build, test, html_coverage, build_rpms, test_install

versioning and deployment fix
  .gitlab-ci.yml
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, html_coverage, build_rpms, test_install

versioning and deployment fix
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms, test_install

versioning and deployment fix
  .gitlab-ci.yml
  build/cdcm.spec
Due: build_deps, build, test, html_coverage, build_rpms, test_install

Bump version: 0.0.1.1_SNAPSHOT → 0.0.1.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: none

fixed version parse
  build/bumpversion.cfg
Due: none

Changed tw-cdcm to always restart and to enable during installation.
  build/cdcm.spec
  build/tw-cdcm.preset
  build/tw-cdcm.service
Due: build_rpms, test_install

Forgot to add the preset file to the files section.
  build/cdcm.spec
Due: build_rpms, test_install

Prefixing 50 onto the preset file as is recommented.
  build/50-tw-cdcm.preset
  build/cdcm.spec
Due: build_rpms, test_install
