Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py

Bump version: 0.0.7.1_SNAPSHOT → 1.0.0.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 1.0.0.1_SNAPSHOT → 1.0.0.1_RELEASE
  build/bumpversion.cfg
Due: none

bump version to 1.0.0.1_RELEASE
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 1.0.0.1_RELEASE → 1.0.0.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

client log upload
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

client log upload
  .gitlab-ci.yml
  src/tests/functional_tests/myLogger.rb
Due: build_deps, build, test, html_coverage, build_rpms

client log upload
  src/tests/functional_tests/myLogger.rb
Due: build, test, html_coverage, build_rpms

try coverage on branch
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

restore coverage conditions
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

set workers count default to five
  cdcm_settings.json
Due: build_rpms

removed unnecessary file cleanup
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

fixed git bad commit
  src/common/Logger/Logger.cpp
Due: build, test, html_coverage, build_rpms

fixed git bad commit
  build/version.txt
  src/backend/utils/postponed_actions.hpp
  src/common/Logger/Logger.cpp
Due: build_deps, build, test, html_coverage, build_rpms

fix bad commit
  build/50-cdcm.preset
  build/cdcm.spec
  build/version.txt
  src/CMakeLists.txt
Due: build_deps, build, test, html_coverage, build_rpms

fixed git bad commit
  .gitlab-ci.yml
  build/cdcm.spec
  src/CMakeLists.txt
Due: build_deps, build, test, html_coverage, build_rpms

added functional test configurable log path
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added service update stage
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added service update stage typo
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added service update stage reinstall instead of install
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms
