Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

removed sudo to make deps
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-64 - request id is now part of close_session response
  src/frontend/actions/close_session.hpp
Due: build, test, html_coverage, build_rpms

Added reconnect on pipe busy
  src/backend/services/registry/registry.json
  src/backend/services/registry/registry_client.cpp
  src/backend/services/registry/registry_service_configuration.hpp
Due: build, test, html_coverage, build_rpms

Added reconnect on pipe busy
  src/backend/services/registry/registry_client.cpp
Due: build, test, html_coverage, build_rpms

changed ruby test client logs directory path
  src/tests/functional_tests/myLogger.rb
Due: build, test, html_coverage, build_rpms

changed debug level
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/read_file.cpp
Due: build, test, html_coverage, build_rpms

removed log line
  src/backend/services/registry/registry_client.cpp
Due: build, test, html_coverage, build_rpms

Supervisor addition
  build/cdcm.service
  build/cdcm.spec
  src/CMakeLists.txt
  src/backend/services/registry/registry_client.cpp
  src/common/Logger/include/Logger.h
  src/common/typedefs.hpp
  src/frontend/CMakeLists.txt
  src/frontend/cdcm_broker.cpp
  src/frontend/message_broker.cpp
  src/supervisor/CMakeLists.txt
  src/supervisor/supervisor.cpp
  src/supervisor/supervisor.hpp
  src/supervisor/workers_monitor.cpp
  src/supervisor/workers_monitor.hpp
Due: build, test, html_coverage, build_rpms

Get file info and misc
  Logger/module.xml
  build/cdcm.spec
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/utils/pe_context.cpp
  src/backend/utils/pe_context.hpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms

moved log location to /var/log/cdcm --> added /
  Logger/module.xml
Due: none

added RPM build support fo MR as well
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.3.1_SNAPSHOT → 0.0.3.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 0.0.3.1_SNAPSHOT → 0.0.4.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
