Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

bump version to 1.0.3
  build/version.txt
Due: build_deps, build, test, build_rpms

CDCM-85 check for mandatory parameters in actions
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
Due: build, test, html_coverage, build_rpms

CDCM-85 check for mandatory parameters in actions
  src/backend/services/smb/actions/file_exists.cpp
Due: build, test, html_coverage, build_rpms

CDCM-85 check for mandatory parameters in actions
  src/frontend/actions/start_session.cpp
Due: build, test, html_coverage, build_rpms

CDCM-85 check for mandatory parameters in actions
  CHANGELOG
  cdcm_settings.json
Due: build_rpms

CDCM-85 check for mandatory parameters in actions
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 1.0.4.1_RELEASE → 1.0.5.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

CDCM-85 make sure to assign default on empty parameters
  src/backend/services/smb/actions/read_file.cpp
Due: build, test, html_coverage, build_rpms

CDCM-87 ordinal to name resolution fix on libpe
  tars/libpe.tar
Due: build_deps

CDCM-85 in start_session: empty password is now acceptable as this is a valid use case
  src/backend/services/registry/actions/query_value.cpp
  src/frontend/actions/start_session.cpp
Due: build, test, html_coverage, build_rpms

added develop branch as a target to merge requests
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-88 - some compilation warnings removed. - shared memory size is now configurable. - configuration values is dumped to log.
  cdcm_settings.json
  src/backend/cdcm_worker_process.cpp
  src/backend/message_worker.cpp
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/registry/registry_client.cpp
  src/backend/services/registry/registry_client.hpp
  src/backend/services/registry/registry_service_configuration.hpp
  src/backend/services/smb/smb_client.cpp
  src/backend/services/smb/smb_service_configuration.hpp
  src/backend/utils/pe_context.cpp
  src/common/Logger/Logger.cpp
  src/common/configurable.hpp
  src/common/configuration.hpp
  src/common/singleton_runner/authenticated_scan_server.cpp
  src/common/singleton_runner/authenticated_scan_server.hpp
  src/common/singleton_runner/settings.hpp
  src/common/typedefs.hpp
  src/frontend/cdcm_broker.cpp
  src/frontend/message_broker.cpp
  src/supervisor/supervisor.cpp
  src/tests/components/boost_test_wrapper/wrapper.cpp
  src/tests/components/boost_test_wrapper/wrapper.hpp
Due: build, test, html_coverage, build_rpms

CDCM-87 - several get_file_info issues fixed. - added xml with 4K dll's for testing get_file_info.
  src/backend/utils/pe_context.cpp
Due: build, test, html_coverage, build_rpms

CDCM-87 - several get_file_info issues fixed. - added xml with 4K dll's for testing get_file_info.
  src/backend/utils/pe_context.cpp
  src/tests/functional_tests/get_file_info_dlls.xml
Due: build, test, html_coverage, build_rpms

updated functional tests README file
  src/tests/functional_tests/README.md
Due: build, test, html_coverage, build_rpms

CDCM-91 - Added dependancy excludes to spec file
  build/cdcm.spec
Due: build_rpms

Bump version: 1.0.5.1_SNAPSHOT → 1.0.5.1_RELEASE
  build/bumpversion.cfg
Due: none

Bumped to RELEASE
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 1.0.5.1_RELEASE → 1.0.6.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
