Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

updated CHANGELOG for v1.0.5
  CHANGELOG
Due: none

added support for action 'enumerate_registry_values'
  Logger/module.xml
  src/backend/services/registry/actions/CMakeLists.txt
  src/backend/services/registry/actions/enumerate_registry_values.cpp
  src/backend/services/registry/actions/enumerate_registry_values.hpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/registry_client.cpp
  src/backend/services/registry/registry_client.hpp
  src/backend/services/registry/registry_value.hpp
Due: build, test, html_coverage, build_rpms

reverted change in Logger xml
  Logger/module.xml
Due: none

added support for the new action at the testing framework
  src/tests/functional_tests/actions.xml
Due: build, test, html_coverage, build_rpms

CDCM-93 - updated xml
  src/tests/functional_tests/actions.xml
Due: build, test, html_coverage, build_rpms

initial classification of errors
  src/backend/message_worker.cpp
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/backend/utils/shared_library.hpp
  src/frontend/actions/close_session.cpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms

Adapted to new files structure
  src/backend/services/samba_based/registry/actions/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.hpp
Due: build, test, html_coverage, build_rpms

minor cmake changes
  src/backend/services/samba_based/common/CMakeLists.txt
  src/backend/services/samba_based/lsa/CMakeLists.txt
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/rpc/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

added to response structure for status code (group and error number)
  src/backend/message_worker.cpp
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/common/protocol/msg_types.hpp
  src/common/protocol/protocol.hpp
  src/frontend/actions/close_session.cpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms

clean up includes
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/lsa/lsa_client.hpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/registry/registry_client2.hpp
  src/backend/services/samba_based/rpc/rpc_client.cpp
  src/backend/services/samba_based/rpc/rpc_client.hpp
Due: build, test, html_coverage, build_rpms

CDCM-99 Added boost and gnutls dependencies
  build/cdcm.spec
Due: build_rpms

CHANGELOG update
  CHANGELOG
Due: none

Bump version: 1.0.6.1_SNAPSHOT → 1.0.6.1_RELEASE
  build/bumpversion.cfg
Due: none

Bumped to 1.0.6.1_RELEASE
  build/version.txt
Due: build_deps, build, test, build_rpms

Bumped to 1.0.6.1_RELEASE
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

Bump version: 1.0.6.1_RELEASE → 1.0.7.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

added required actions get_registry_permissions get_share_permissions get_ntfs_permissions
  src/backend/services/samba_based/common/security_descriptor_utils.hpp
  src/backend/services/samba_based/lsa/CMakeLists.txt
  src/backend/services/samba_based/lsa/actions/CMakeLists.txt
  src/backend/services/samba_based/lsa/actions/get_ntfs_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_permissions.hpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.hpp
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/lsa/lsa_client.hpp
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/enumerate_key.cpp
  src/backend/services/samba_based/registry/actions/get_registry_permissions.cpp
  src/backend/services/samba_based/registry/actions/get_registry_permissions.hpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/registry/registry_client2.hpp
  src/backend/services/samba_based/rpc/rpc_client.cpp
  src/backend/services/samba_based/rpc/rpc_client.hpp
Due: build, test, html_coverage, build_rpms

added required actions get_registry_permissions get_share_permissions get_ntfs_permissions
  src/backend/services/samba_based/lsa/CMakeLists.txt
  src/backend/services/samba_based/registry/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

added required action enumerate_shares
  src/backend/services/samba_based/CMakeLists.txt
  src/backend/services/samba_based/lsa/CMakeLists.txt
  src/backend/services/samba_based/lsa/actions/get_ntfs_permissions.cpp
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/get_registry_permissions.cpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/rpc/rpc_client.cpp
  src/backend/services/samba_based/rpc/rpc_client.hpp
  src/backend/services/samba_based/srvsvc/CMakeLists.txt
  src/backend/services/samba_based/srvsvc/actions/CMakeLists.txt
  src/backend/services/samba_based/srvsvc/actions/enumerate_shares.cpp
  src/backend/services/samba_based/srvsvc/actions/enumerate_shares.hpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.cpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.hpp
  src/backend/services/samba_based/utils/CMakeLists.txt
  src/backend/services/samba_based/utils/security_descriptor_utils.cpp
  src/backend/services/samba_based/utils/security_descriptor_utils.hpp
Due: build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
