Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

fixed pipeline functional_tests, test client log overwrite
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

fixed pipeline functional_tests, test client log overwrite
  src/backend/services/samba_based/registry/registry_client.cpp
Due: build, test, html_coverage, build_rpms

changed error codes for some actions
  src/backend/services/samba_based/registry/actions/query_value.cpp
  src/common/protocol/msg_types.hpp
Due: build, test, html_coverage, build_rpms

removed most prints from helper_module.py value extracted in python side
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/helper_module.py
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
Due: build, test, html_coverage, build_rpms

added several wmi registry actions
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/actions/CMakeLists.txt
  src/backend/services/impacket_based/registry/actions/wmi_enum_key.cpp
  src/backend/services/impacket_based/registry/actions/wmi_enum_key.hpp
  src/backend/services/impacket_based/registry/actions/wmi_enum_values.cpp
  src/backend/services/impacket_based/registry/actions/wmi_enum_values.hpp
  src/backend/services/impacket_based/registry/helper_module.py
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/samba_based/registry/actions/enumerate_key.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/smb/actions/read_file.cpp
  src/backend/utils/base64_encode.hpp
  src/backend/utils/registry_value.hpp
Due: build, test, html_coverage, build_rpms

added several wmi registry actions
  src/backend/services/impacket_based/registry/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

added several wmi registry actions
  src/backend/services/impacket_based/registry/actions/CMakeLists.txt
  src/backend/services/impacket_based/registry/actions/wmi_key_exists.cpp
  src/backend/services/impacket_based/registry/actions/wmi_key_exists.hpp
  src/backend/services/impacket_based/registry/actions/wmi_query_value.cpp
  src/backend/services/impacket_based/registry/actions/wmi_query_value.hpp
  src/backend/services/impacket_based/registry/actions/wmi_value_exists.cpp
  src/backend/services/impacket_based/registry/actions/wmi_value_exists.hpp
Due: build, test, html_coverage, build_rpms

refined several wmi registry actions
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/actions/wmi_enum_key.cpp
  src/backend/services/impacket_based/registry/actions/wmi_enum_values.cpp
  src/backend/services/impacket_based/registry/actions/wmi_key_exists.cpp
  src/backend/services/impacket_based/registry/actions/wmi_query_value.cpp
  src/backend/services/impacket_based/registry/actions/wmi_query_value.hpp
  src/backend/services/impacket_based/registry/actions/wmi_value_exists.cpp
  src/backend/services/impacket_based/registry/actions/wmi_value_exists.hpp
  src/backend/services/impacket_based/registry/helper_module.py
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/registry/wmi_registry_client.hpp
  src/backend/utils/registry_value.hpp
Due: build, test, html_coverage, build_rpms

refined several wmi registry actions
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
Due: build, test, html_coverage, build_rpms

Bump version: 1.0.7.1_RELEASE → 1.0.8.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

added protocol name to client
  src/backend/message_worker.cpp
  src/backend/services/impacket_based/registry/helper_module.py
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/registry/wmi_registry_client.hpp
  src/backend/services/samba_based/lsa/lsa_client.cpp
  src/backend/services/samba_based/lsa/lsa_client.hpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client.hpp
  src/backend/services/samba_based/registry/registry_client2.hpp
  src/backend/services/samba_based/smb/smb_client.cpp
  src/backend/services/samba_based/smb/smb_client.hpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.cpp
  src/backend/services/samba_based/srvsvc/srvsvc_client.hpp
  src/common/client.hpp
Due: build, test, html_coverage, build_rpms

CDCM-106 - added impacket to package
  build/cdcm.spec
  cdcm_settings.json
Due: build_rpms

CDCM-106 - added impacket to package
  src/backend/services/impacket_based/registry/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

adapted verifications for new actions
  .gitlab-ci.yml
  .gitmodules
Due: build_deps, build, test, html_coverage, build_rpms

restored settings
  cdcm_settings.json
Due: build_rpms

CDCM-108 and CDCM-109
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/registry/actions/key_exists.cpp
  src/backend/services/samba_based/registry/actions/query_value.cpp
  src/backend/services/samba_based/registry/actions/value_exists.cpp
  src/backend/services/samba_based/registry/registry_client.hpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/smb/actions/file_exists.cpp
  src/backend/services/samba_based/smb/actions/get_file_info.cpp
  src/backend/services/samba_based/smb/actions/list_dir.cpp
  src/backend/services/samba_based/smb/actions/read_file.cpp
  src/common/protocol/msg_types.hpp
Due: build, test, html_coverage, build_rpms

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

all but one test succeed with sketched code
  src/backend/services/impacket_based/registry/actions/wmi_enum_key.cpp
  src/backend/services/impacket_based/registry/actions/wmi_enum_values.cpp
  src/backend/services/impacket_based/registry/actions/wmi_key_exists.cpp
  src/backend/services/impacket_based/registry/actions/wmi_query_value.cpp
  src/backend/services/impacket_based/registry/actions/wmi_value_exists.cpp
  src/backend/services/impacket_based/registry/helper_module.py
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/registry/wmi_registry_client.hpp
Due: build, test, html_coverage, build_rpms

Cdcm 108
  .gitlab-ci.yml
  build/cdcm.spec
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/utils/CMakeLists.txt
  src/backend/services/samba_based/utils/registry_utils.cpp
  src/backend/services/samba_based/utils/registry_utils.hpp
Due: build_deps, build, test, html_coverage, build_rpms

all but one test succeed with refactored code
  src/backend/services/impacket_based/registry/actions/wmi_enum_key.cpp
  src/backend/services/impacket_based/registry/actions/wmi_enum_values.cpp
  src/backend/services/impacket_based/registry/actions/wmi_query_value.cpp
  src/backend/services/impacket_based/registry/actions/wmi_value_exists.cpp
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
Due: build, test, html_coverage, build_rpms

updated cdcm_testing submodule
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
