Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  script:
  - cd build_cdcm/src/tests/
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  artifacts:
    when: always
    paths:
    - build_cdcm/src/tests/*.xml
    reports:
      junit: build_cdcm/src/tests/*.xml
  tags:
  - cdcm

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - rpmbuild -bb cdcm.spec
  artifacts:
    paths:
    - build/RPMS/x86_64/
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull
  tags:
  - cdcm

adjust configuration
  .gitlab-ci.yml
  src/tests/functional_tests/functional_tests_runner_test.cpp
Due: build_deps, build, test, html_coverage, build_rpms

adjust configuration
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

adjust configuration
  .gitlab-ci.yml
  build/bump_version.py
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, html_coverage, build_rpms

install configuration
  src/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

install configuration
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

install configuration
  build/bumpversion.cfg
  build/nexus_deploy.py
  build/version.txt
Due: none

install configuration
  .gitlab-ci.yml
  build/cdcm.spec
  build/nexus_deploy.py
Due: build_deps, build, test, html_coverage, build_rpms

pipeline html_cov rules
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added push tag on bump bigger than snapshot
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 0.0.1-SNAPSHOT_1 → 0.0.1-SNAPSHOT_2
  build/bumpversion.cfg
  build/version.txt
Due: none

Revert "Bump version: 0.0.1-SNAPSHOT_1 → 0.0.1-SNAPSHOT_2"
  build/bumpversion.cfg
  build/version.txt
Due: none

added push tag on bump bigger than snapshot do push
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

push all
  .gitlab-ci.yml
  build/Dockerfile
  src/backend/message_worker.cpp
Due: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, tars/*, .gitlab-ci.yml
  build: any of: src/**/*, .gitlab-ci.yml
  test: any of: src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/tw-cdcm.service, .gitlab-ci.yml
