Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

Bump version: 0.0.5.1_SNAPSHOT → 0.0.5.1_RELEASE
  build/bumpversion.cfg
Due: none

on build dev do cov tests
  src/tests/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

Update version.txt
  build/version.txt
Due: build_deps, build, test, build_rpms

changed preset to cdcm instead of tw-cdcm
  build/50-cdcm.preset
Due: none

Bump version: 0.0.5.1_RELEASE → 0.0.5.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

memory leaks found
  src/backend/services/registry/registry_client.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/backend/utils/pe_context.cpp
Due: build, test, html_coverage, build_rpms

CDCM-68 - only known erroneous file fixed
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/utils/file_reader.hpp
  src/backend/utils/pe_context.cpp
Due: build, test, html_coverage, build_rpms

CDCM-69 - broker will listen to localhost by default
  cdcm_settings.json
Due: build_rpms

Bump version: 0.0.5.1_RELEASE → 0.0.6.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

new version bump
  CHANGELOG
  cdcm_settings.json
Due: build_rpms

pipeline condition
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
