Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

updated cdcm_testing submodule
  .gitmodules
Due: none

more of start_session authentication
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/backend/utils/shared_library.hpp
  src/common/protocol/msg_types.hpp
  src/common/protocol/protocol.hpp
  src/frontend/actions/close_session.cpp
  src/frontend/actions/start_session.cpp
  src/frontend/message_broker.cpp
Due: build, test, html_coverage, build_rpms

more error codes
  src/backend/message_worker.cpp
Due: build, test, html_coverage, build_rpms

merge with branch smb_phase2
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/registry/actions/get_registry_permissions.cpp
  src/backend/services/samba_based/srvsvc/actions/enumerate_shares.cpp
Due: build, test, html_coverage, build_rpms

added error enums, names refactor
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/registry/actions/enumerate_key.cpp
  src/backend/services/samba_based/registry/actions/enumerate_values.cpp
  src/backend/services/samba_based/registry/actions/get_registry_permissions.cpp
  src/backend/services/samba_based/srvsvc/actions/enumerate_shares.cpp
  src/common/protocol/msg_types.hpp
  src/common/protocol/protocol.hpp
Due: build, test, html_coverage, build_rpms

added copy of test client log
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-104 changed several arguments
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.hpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.hpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.hpp
  src/backend/services/samba_based/smb/actions/file_exists.hpp
  src/backend/services/samba_based/smb/actions/get_file_info.hpp
  src/backend/services/samba_based/smb/actions/list_dir.hpp
Due: build, test, html_coverage, build_rpms

updated .gitmodules to master
  .gitmodules
Due: none

changed res to result
  src/common/protocol/msg_types.hpp
  src/common/protocol/protocol.hpp
Due: build, test, html_coverage, build_rpms

minor changes to resp_status
  src/common/protocol/msg_types.hpp
Due: build, test, html_coverage, build_rpms

Bump version: 1.0.7.1_SNAPSHOT → 1.0.7.1_RELEASE
  build/bumpversion.cfg
Due: none

bump to 1.0.7.1_RELEASE
  build/version.txt
Due: build_deps, build, test, build_rpms

changed cdcm testing branch to master
  .gitmodules
Due: none

updated CHANGELOG
  CHANGELOG
Due: none

restored wrong merge
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
