Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

CDCM-80 Unnecessary continue products bad flow that crashes worker.
  src/backend/message_worker.cpp
  src/backend/services/registry/registry_client.cpp
Due: build, test, html_coverage, build_rpms

rpmbuid fix
  build/cdcm.spec
  src/CMakeLists.txt
Due: build, test, html_coverage, build_rpms

Bump version: 1.0.2.1_SNAPSHOT → 1.0.2.1_RELEASE
  build/bumpversion.cfg
Due: none

bumped version to release
  build/version.txt
Due: build_deps, build, test, build_rpms

updated CHANGELOG for v1.0.2
  CHANGELOG
Due: none

Bump version: 1.0.2.1_RELEASE → 1.0.3.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

added xunit to html conversion
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

copy html report to server
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

Bump version: 1.0.3.1_SNAPSHOT → 1.0.3.2_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, test, build_rpms

added value normalization method to be used for index and name
  src/backend/services/registry/registry_client.cpp
  src/backend/services/registry/registry_client.hpp
Due: build, test, html_coverage, build_rpms

added value normalization method to be used for index and name
  src/backend/services/registry/registry_client.cpp
Due: build, test, html_coverage, build_rpms

check for mandatory parameters in actions
  src/backend/services/registry/actions/enumerate_key.cpp
  src/backend/services/registry/actions/key_exists.cpp
  src/backend/services/registry/actions/query_value.cpp
  src/backend/services/registry/actions/value_exists.cpp
  src/backend/services/smb/actions/file_exists.cpp
  src/backend/services/smb/actions/get_file_info.cpp
  src/backend/services/smb/actions/list_dir.cpp
  src/backend/services/smb/actions/read_file.cpp
  src/frontend/actions/start_session.cpp
Due: build, test, html_coverage, build_rpms

CDCM-84 - removed redundant NULL at the end of the base64 response
  src/backend/services/smb/actions/read_file.cpp
Due: build, test, html_coverage, build_rpms

missing key type set added
  src/backend/services/registry/registry_client.cpp
Due: build, test, html_coverage, build_rpms

put current testplan tests in full.xml changed severity in worker log message
  src/backend/message_worker.cpp
Due: build, test, html_coverage, build_rpms

put current testplan tests in full.xml changed severity in worker log message
  src/backend/message_worker.cpp
  src/tests/functional_tests/full.xml
Due: build, test, html_coverage, build_rpms

tests_run allowed to fail
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

run coverage on develop branch also
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

CDCM-86 - increased session idle timeout from 300 to 1800
  CHANGELOG
  cdcm_settings.json
Due: build_rpms

Bump version: 1.0.3.1_SNAPSHOT → 1.0.3.1_RELEASE
  build/bumpversion.cfg
Due: none

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
