Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test, html_coverage, build_rpms

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - rm -fr /opt/output/libs/*
  - rm -fr /opt/output/bin/*
  ...

test:
  stage: test
  allow_failure: true
  script:
  - cd build_cdcm/
  - scl enable devtoolset-8 "make install"
  - cd src/tests/
  - pkill -9 cdcm
  - LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/output/${CI_COMMIT_BRANCH}/libs nohup cdcm_broker
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  ...

html_coverage:
  stage: coverage
  script:
  - cd build_cdcm
  - make html_coverage
  artifacts:
    name: pages
    when: always
    paths:
    - build_cdcm/src/html_coverage
    expire_in: 10 days
  tags:
  - cdcm
  dependencies:
  - build

build_rpms:
  stage: build_rpms
  script:
  - cd build
  - if [[ $(cat version.txt) =~ ([0-9]+\.[0-9]+\.[0-9]+)\.([0-9]+)_([A-Z]+) ]] ; then VERSION=${BASH_REMATCH[1]};SNAPSHOT=${BASH_REMATCH[2]};RELEASE=${BASH_REMATCH[3]}; fi
  ...

fixed develop rpm without branch name
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

normalized keys and paths in request with no default hive
  src/backend/services/samba_based/utils/registry_utils.cpp
  src/backend/services/samba_based/utils/registry_utils.hpp
Due: build, test, html_coverage, build_rpms

normalized keys and paths in request with no default hive
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/utils/CMakeLists.txt
  src/backend/services/samba_based/utils/registry_utils.hpp
  src/backend/utils/CMakeLists.txt
  src/backend/utils/registry_utils.cpp
  src/backend/utils/registry_utils.hpp
Due: build, test, html_coverage, build_rpms

Added libtw-wmi_registry-client.so to spec
  build/cdcm.spec
Due: build_rpms

Added boost169-python3 to spec
  build/cdcm.spec
Due: build_rpms

WMI wql impacket based
  src/backend/services/impacket_based/CMakeLists.txt
  src/backend/services/impacket_based/wql/CMakeLists.txt
  src/backend/services/impacket_based/wql/actions/CMakeLists.txt
  src/backend/services/impacket_based/wql/actions/wql.cpp
  src/backend/services/impacket_based/wql/actions/wql.hpp
  src/backend/services/impacket_based/wql/wmi_wql_client.cpp
  src/backend/services/impacket_based/wql/wmi_wql_client.hpp
  src/backend/services/impacket_based/wql/wmiquery.py
Due: build, test, html_coverage, build_rpms

WMI wql impacket based
  src/backend/services/impacket_based/wql/wmi_wql_helper.py
Due: build, test, html_coverage, build_rpms

Cdcm 110
  src/backend/cdcm_worker_process.cpp
  src/common/singleton_runner/authenticated_scan_server.hpp
  src/frontend/cdcm_broker.cpp
  src/supervisor/supervisor.cpp
Due: build, test, html_coverage, build_rpms

updated CHANGELOG
  CHANGELOG
Due: none

some organization and refactoring
  build/cdcm.spec
  src/backend/services/impacket_based/CMakeLists.txt
  src/backend/services/impacket_based/common/CMakeLists.txt
  src/backend/services/impacket_based/common/pyerror_handler.cpp
  src/backend/services/impacket_based/common/pyerror_handler.hpp
  src/backend/services/impacket_based/common/typedefs.hpp
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/registry/wmi_registry_client.hpp
  src/backend/services/impacket_based/wql/CMakeLists.txt
  src/backend/services/impacket_based/wql/wmi_wql_client.cpp
  src/backend/services/impacket_based/wql/wmi_wql_client.hpp
  src/backend/services/impacket_based/wql/wmiquery.py
  src/common/utils/scoped_timer.hpp
Due: build, test, html_coverage, build_rpms

some organization and refactoring
  build/cdcm.spec
  src/backend/services/impacket_based/common/CMakeLists.txt
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/registry/wmi_registry_helper.py
Due: build, test, html_coverage, build_rpms

some organization and refactoring
  build/cdcm.spec
Due: build_rpms

Added log errors
  src/backend/services/impacket_based/common/pyerror_handler.cpp
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
Due: build, test, html_coverage, build_rpms

Cdcm 79
  CHANGELOG
  src/backend/services/samba_based/smb/actions/list_dir.cpp
Due: build, test, html_coverage, build_rpms

moved python helpers to known location
  build/cdcm.spec
  src/backend/services/impacket_based/common/pyerror_handler.cpp
  src/backend/services/impacket_based/registry/CMakeLists.txt
  src/backend/services/impacket_based/registry/wmi_registry_client.cpp
  src/backend/services/impacket_based/wql/CMakeLists.txt
  src/backend/services/impacket_based/wql/wmi_wql_client.cpp
Due: build, test, html_coverage, build_rpms

copy all cdcmclient logs to server
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

readded wmi reg to tests
  .gitlab-ci.yml
Due: build_deps, build, test, html_coverage, build_rpms

added required actions get_registry_permissions get_share_permissions get_ntfs_permissions
  .gitlab-ci.yml
  CHANGELOG
  build/cdcm.spec
  src/backend/cdcm_worker_process.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_file_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_ntfs_folder_permissions.cpp
  src/backend/services/samba_based/lsa/actions/get_share_permissions.cpp
  src/backend/services/samba_based/registry/CMakeLists.txt
  src/backend/services/samba_based/registry/actions/key_exists.cpp
  src/backend/services/samba_based/registry/actions/query_value.cpp
  src/backend/services/samba_based/registry/actions/value_exists.cpp
  src/backend/services/samba_based/registry/registry_client.cpp
  src/backend/services/samba_based/registry/registry_client.hpp
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/smb/actions/file_exists.cpp
  src/backend/services/samba_based/smb/actions/get_file_info.cpp
  src/backend/services/samba_based/smb/actions/list_dir.cpp
  src/backend/services/samba_based/smb/actions/read_file.cpp
  src/backend/services/samba_based/utils/CMakeLists.txt
  src/backend/services/samba_based/utils/registry_utils.cpp
  src/backend/services/samba_based/utils/registry_utils.hpp
  src/common/protocol/msg_types.hpp
  src/common/singleton_runner/authenticated_scan_server.hpp
  src/frontend/cdcm_broker.cpp
  src/supervisor/supervisor.cpp
Due: build_deps, build, test, html_coverage, build_rpms

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  test: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, .gitlab-ci.yml, build/nexus_deploy.py
