Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Path conditions:
  build_deps: any of: build/Makefile, build/version.txt, tars/*, .gitlab-ci.yml
  build: any of: build/version.txt, src/**/*, tars/**/*, .gitlab-ci.yml
  unittests: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  html_coverage: any of: src/**/*, .gitlab-ci.yml
  build_rpms: any of: cdcm_settings.json, src/**/*, build/cdcm.spec, build/version.txt, build/cdcm.service, build/50-cdcm.preset, .gitlab-ci.yml
  functional_tests: any of: build/version.txt, src/**/*, .gitlab-ci.yml
  smoke_test: any of: build/version.txt, src/**/*, .gitlab-ci.yml

- added get_cdcm_info action - added cdcm_version to setting - fixed typo supervisor.hpp - added relevant tests to full.xml
  CMakeLists.txt
  build/cdcm.spec
  cdcm_settings.json
  src/CMakeLists.txt
  src/common/singleton_runner/settings.hpp
  src/frontend/actions/CMakeLists.txt
  src/frontend/actions/get_cdcm_info.cpp
  src/frontend/actions/get_cdcm_info.hpp
  src/supervisor/supervisor.hpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

fixed error codes tests CDCM-114 - query_value when theres an error getting value it doesnt mean that the value is empty
  src/backend/services/samba_based/registry/actions/query_value.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

updated cdcm_testing submodule
  Logger/module.xml
Due: none

some more refinements
  src/backend/services/samba_based/registry/registry_client2.cpp
  src/backend/services/samba_based/utils/security_descriptor_utils.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Bump version: 1.0.10.1_SNAPSHOT → 1.0.10.1_RELEASE
  build/bumpversion.cfg
Due: none

bumped to release
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

updated CHANGELOG with 1.0.10
  CHANGELOG
Due: none

Bump version: 1.0.10.1_RELEASE → 1.0.11.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

Cdcm 117 - registry permissions should be tested against the GENERIC and STD permissions
  src/backend/services/samba_based/utils/security_descriptor_utils.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

removed unnecessary SMBConnection calls
  src/backend/services/impacket_based/registry/wmi_registry_helper.py
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

added start session converter
  .gitignore
Due: none

Bump version: 1.0.11.1_SNAPSHOT → 1.0.11.1_RELEASE
  build/bumpversion.cfg
Due: none

bumped to release updated CHANGELOG with 1.0.11
  CHANGELOG
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

Bump version: 1.0.11.1_RELEASE → 1.0.12.1_SNAPSHOT
  build/bumpversion.cfg
  build/version.txt
Due: build_deps, build, unittests, build_rpms, functional_tests, smoke_test

Cdcm 118
  CMakeLists.txt
  build/cdcm.spec
  src/supervisor/supervisor.cpp
  src/supervisor/supervisor.hpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

Cdcm 115
  .gitlab-ci.yml
  build/cdcm.spec
  build/maven-settings.xml
  build/pom-template.xml
  ci_scripts/build.bash
  ci_scripts/build_deps.bash
  ci_scripts/build_rpm.bash
  ci_scripts/deploy.bash
  ci_scripts/functional_tests.bash
  ci_scripts/smoke_test.bash
  ci_scripts/unittests.bash
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

removed when from deploy job
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

I hate bash scripts 2
  ci_scripts/unittests.bash
Due: none

Cdcm 115
  .gitlab-ci.yml
  ci_scripts/build.bash
  ci_scripts/build_deps.bash
  ci_scripts/build_rpm.bash
  ci_scripts/common.bash
  ci_scripts/deploy.bash
  ci_scripts/functional_tests.bash
  ci_scripts/html_coverage.bash
  ci_scripts/service_update.bash
  ci_scripts/smoke_test.bash
  ci_scripts/test_install.bash
  ci_scripts/unittests.bash
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

fixed query_value.cpp according to contract
  src/backend/services/samba_based/registry/actions/query_value.cpp
Due: build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

fixed query_value.cpp according to contract
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

added release method to .gitlab-ci.yml for learning
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

playing with thr pipeline
  ci_scripts/smoke_test.bash
Due: none

playing with release-cli
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test

removed release
  .gitlab-ci.yml
Due: build_deps, build, unittests, html_coverage, build_rpms, functional_tests, smoke_test
