Repository Trustwave/cdcm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_deps, build, test

build_deps:
  stage: build_deps
  script:
  - cd build
  - scl enable devtoolset-8 'make deps'
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
    - deps/
    policy: pull-push
  tags:
  - cdcm

build:
  stage: build
  variables:
    DEPS_DIR: $CI_PROJECT_DIR/deps
  script:
  - scl enable devtoolset-8 bash
  - mkdir -p build_cdcm
  - cd build_cdcm
  - scl enable devtoolset-8 "cmake3 $CMAKE_FLAGS .."
  - scl enable devtoolset-8 "make -j4"
  - scl enable devtoolset-8 "make install"
  artifacts:
    paths:
    - build_cdcm/
  ...

test:
  stage: test
  script:
  - cd build_cdcm/src/tests/
  - ./tests_run  --log_sink=$REPORT_FNAME  --log_format=JUNIT  --log_level=all
  artifacts:
    when: always
    paths:
    - build_cdcm/src/tests/*.xml
    reports:
      junit: build_cdcm/src/tests/*.xml
  tags:
  - cdcm

build rpms when spec changes
  .gitlab-ci.yml
Due: build_deps, build, test

added
  build/tw-cdcm.service
Due: none

build rpms when spec changes
  .gitlab-ci.yml
  src/tests/mdclient2.cpp
Due: build_deps, build, test

build rpms when spec changes
  build/cdcm.spec
  cdcm_settings.json
Due: none

added copy of plugins
  build/cdcm.spec
Due: none

no tests and examples needed for tao clean output dirs
  .gitlab-ci.yml
  build/Makefile
Due: build_deps, build, test

try to control output of cmake install
  src/CMakeLists.txt
  src/tests/CMakeLists.txt
Due: none

added libpe
  build/cdcm.spec
  src/backend/utils/action_manager.cpp
Due: none

try to control output of cmake install
  src/CMakeLists.txt
Due: none

try to control output of cmake install
  build/cdcm.spec
Due: none

try to control output of cmake install
  src/backend/utils/CMakeLists.txt
Due: none

libpe failed to install
  build/cdcm.spec
Due: none

build samba faster try to fix libpe
  build/Makefile
  build/cdcm.spec
Due: build_deps

updated service file
  build/tw-cdcm.service
Due: none

typo in spec file
  build/cdcm.spec
Due: none

pe still doesnt load
  build/cdcm.spec
Due: none

test install with systemd
  .gitlab-ci.yml
Due: build_deps, build, test

Path conditions:
  build_deps: any of: build/Makefile, tars/*, .gitlab-ci.yml
  build: any of: src, .gitlab-ci.yml
  test: any of: src, .gitlab-ci.yml
